<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:insert="~{en/style}"></th:block>
</head>
<body>
<table class="tg" style="padding: 0; border: 0; border-collapse: collapse; border-spacing: 0;" th:fragment="footer">
    <tbody style="padding: 0; border: 0;">
    <tr style="padding: 0; border: 0;">
        <td align="left"
            class="tg-0lax banner"
            style="padding: 0; border: 0; padding-top: 120px; padding-bottom: 20px; overflow: hidden; word-break: normal; text-align: left; vertical-align: top; font-size: 0; line-height: 0;"
            valign="top">
            <a href="https://squars.io/" style="display:inline-block; line-height: 0; font-size: 0;" target="_blank">
                <img alt="@ banner@2x" src="https://image.squars.io/footer/banner.png"
                     width="800">
            </a>
        </td>
    </tr>
    <tr style="padding: 0; border: 0;">
        <td align="left"
            class="tg-0lax"
            style="padding: 0; border: 0; overflow: hidden; word-break: normal; text-align: left; vertical-align: top; font-weight: 400; font-size: 14px; line-height: 20px;"
            valign="top"> This email
            is for outgoing use only.
        </td>
    </tr>
    <tr align="left" class="tg-0lax" style="padding: 0; border: 0; text-align: left; vertical-align: top;"
        valign="top">
        <td align="left"
            class="tg-0lax email"
            style="padding: 0; border: 0; overflow: hidden; word-break: normal; text-align: left; vertical-align: top; font-weight: 400; font-size: 14px; line-height: 20px; padding-bottom: 0px;"
            valign="top">
            If you have any questions regarding this content, please send an email to
            <a class="email-link" href="mailto:support@squars.io" style="color: rgba(0, 157, 255, 1);">
                support@squars.io
            </a>
        </td>
    </tr>


    <tr style="padding: 0; border: 0;">
        <td style="border: 0; font-size: 14px; overflow: hidden; word-break: normal; vertical-align: middle; padding: 16px 0 32px 0;"
            valign="middle">
            <a class="sns-link" href="https://www.facebook.com/SQUARSXR/"
               style="cursor: pointer; text-decoration: none; line-height: 0; text-align: center; font-size: 12px; vertical-align: center; color: #333333;"
               target="_blank">
                Facebook
            </a>
            &nbsp; | &nbsp;

            <a class="sns-link" href="https://www.instagram.com/squarsxr/"
               style="cursor: pointer; text-decoration: none; line-height: 0; text-align: center; font-size: 12px; vertical-align: center; color: #333333;"
               target="_blank">
                Instagram
            </a>
            &nbsp; | &nbsp;

            <a class="sns-link" href="https://www.linkedin.com/company/squars/"
               style="cursor: pointer; text-decoration: none; line-height: 0; text-align: center; font-size: 12px; vertical-align: center; color: #333333;"
               target="_blank">
                Linkedin
            </a>
            &nbsp;| &nbsp;

            <a class="sns-link" href="https://www.youtube.com/channel/UCk3caPERbMwkSKT1cQ_7VFQ"
               style="cursor: pointer; text-decoration: none; line-height: 0; text-align: center; font-size: 12px; vertical-align: center; color: #333333;"
               target="_blank">
                Youtube
            </a>

        </td>
    </tr>

    <tr style="padding: 0; border: 0;">
        <td align="left"
            style="padding: 0; border: 0; overflow: hidden; word-break: normal; text-align: left; font-weight: 400; font-size: 12px; padding-bottom: 40px;"
            valign="left">
            ©VIRNECT Europe GmbH
        </td>
    </tr>

    </tbody>
</table>
</body>
</html>
